header.instapaper_ignore
	h1#site-title: a href="/"
		| Retinacast
	p#tagline
	nav
		ul
			li: a href="/info"
				| <i class="icon-book"></i> <span>Info<span>rmationen</span></span>
			li: a href="/crew"
				| <i class="icon-group"></i> <span>Crew</span>
			li: a href="/abo"
				| <i class="icon-rss"></i><span>Abo<span>nnieren</span></span>
			li: a href="/feedback"
				| <i class="icon-comments-alt"></i> <span>Feedback</span>
			li: a href="/archiv"
				| <i class="icon-list"></i> <span>Archiv</span>




