#content
  == slim :"includes/_page-title", :locals => { :page_title => "#{ @page.title }",  :page_url => "http://foo.bar", :page_icon => "book"}
  #page-content.text-content-long
    == markdown @page.content

